# =======================================================
# PATRIA NOSTRA E-COMMERCE - CONFIGURACIÓN DE ENTORNO
# =======================================================

# PocketBase Backend URL
VITE_POCKETBASE_URL=https://patrianostradistropb.noweb.cl

# Flow Payment Gateway (Server-Side)
FLOW_API_KEY=28F1BB16-B8A8-4A36-95D9-92643BE31L7E
FLOW_SECRET_KEY=f5aca74d33356b5c158c0a893ecd0b2c9f877838
FLOW_API_URL=https://www.flow.cl/api

